<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <% if (user) { %> 
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% } else { %> 
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Whoops!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  You need to Login first to view this content
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <a class="nav-item nav-link" data-toggle="modal" data-target="#exampleModal">My URLs</a>
          <a class="nav-item nav-link" href="/login">Create New URL</a>
        <% } %>

      </div>
    </div>
      <% if (!user) { %>
    
        <a class="nav-item nav-link " href="/login" style="color: white;">Login</a>
        <a class="nav-item nav-link" href="/register" style="color: white;">Register</a>
       
      <% } else { %>  
          <div class="btn-group">
            <span class="navbar-text mr-2">
              <a class="nav-item" style="color: rgb(34, 32, 32);">Logged In As: <%= user.email %>!</a>
            </span>
            <form method="POST" action="/logout"><button type="Edit" class="btn btn-outline-dark">Logout</button></form>
          </div>
     <% } %>
  </nav>
</header>